In [1]:
import pandas as pd
player=int(input("How many top batsman analysis do u want:"))
print(f"Give me the list of top {player} batsman ")

n=player
p_name=[]
p_runs=[]
p_avg=[]
p_str=[]
p_coun=[]

for i in range(n):
    
    pn=input("enter the player name: ")
    pr=input("enter the player runs: ")
    pa=input("enter the player average: ")
    ps=input("enter the player strike rate: ")
    pc=input("enter the player country: ") 

    p_name.append(pn)
    p_runs.append(pr)
    p_avg.append(pa)
    p_str.append(ps)
    p_coun.append(pc) 
    
    
    
data={"Player name":p_name,'runs':p_runs,'Average':p_avg,'Strike Rate':p_str,'Country':p_coun}
show=pd.DataFrame(data)
show

Give me the list of top 5 batsman

    Player name   runs Average Strike Rate       Country
0   Virat Kholi  12471    57.5        93.1         India
1  Rohit Sharma   9454   48.73       89.42         India
2  David Warner   6907   44.83       95.26     Australia
3      Joe Root   6207    50.6       86.93       England
4        Decock   5883   45.57       96.03  South Africa

In [2]:
# to save the file in csv 
 
show.to_csv("top 5 batsman performer list.csv")