# VARIABLE QUESTION

#### Q1:Declare different variables for different types of data’s

In [6]:
a_1 = 71                                                #this is an integer datatype
a_2= 81.5                                               #this is a floating datatype
a_3= 8j                                                 #this is a complex number
a_4 = "insideAIML"                                      #this is a string datatype 
a_5= True                                               #this is a bool datatype 
a_6list = [  3, 9.1, "Mango", "Banana", True ]          #built in list datatype
a7_tuple = ( 67, "Banana", 9.5 )                        ##built in tuple datatype
a8_set = { "Apple", True,67j ,"Mango" }                 #built in set datatype
a9_dict1 = {                                            #built in dict datatype
            "A" : "Apple",
            "M" : "Mahindra",
            "H" : "HP",
            "T" : "tata",
            "L" : "Lenovo"

        } 

a_10=bool                                               #this is a none datatype

# Q2:By the help of format specifiers access the variables

In [9]:
var_1= 45 
print(f"we access valuse with the help of format specifier is:{var_1}")

we access valuse with the help of format specifier is:45

#### Q3:How to take input from the user without directly assigning values to the variable

In [10]:
var_2 = input("enter the input ")
print(f"your input taken is :{var_2}")

your input taken is :insideAIML

#### Q4:what is the alternate of Anaconda Jupyter if your machine has low computational power  
ANS:If your machine has low computatonal power then, best alternative are  google coolab ,pycharm,pyhon,jupiter

#### Q5:In python is it necessary to declare what type of variable it is? if no? why? 
ANS: NO,because in pyhton you do not need  to declare variable before using it cause,every variable in  python is object (python is object orinted lang)

#### Q6:Declare a variable and store an integer value in it and in the second statement increment
that value
by 10

In [11]:
a = 10 
a+=10
print(a)

20

#### Q7:follow the pseudo code write the correct output
#### Num = 10
#### Num + 10
#### Num #Write down the appropriate output which will come here 

### The output which will come is:--> 10

#### Q8:Declear three variables and store three different types of data 
(name(string type),id(integer type),cgpa(float type)) 
and print a statement 
“Hello my name is <particular_name> and 
my id is<particular_id> and
my cgpa is <particular_cgpa>”
 access the values using Format Specifiers

In [24]:
name= "Akash"
Id= 363767
Cgpa= 8.3
print(f"hello,my Name is: {name} \n my Id is: {Id}\n my Cgpa is: {Cgpa} ")

hello,my Name is: Akash
 my Id is: 363767
 my Cgpa is: 8.3

# List

#### Q1: how to declare a list

In [26]:
list_1=[23,34.6,"insideAIML"]
type(list_1)

list

#### Q2:Declare a list of containing different fruit names

In [ ]:
list_2 =["apple","orange","cherry","papaya","grape","kiwi"]

#### Q3:Declare a list containing different data-types in it

In [ ]:
list_3=[12,34.5,8j,True,"football"]

#### Q4:write down the code to check a particular element in the list

In [27]:
list_2 =["apple","orange","cherry","papaya","grape","kiwi","banana"]
list_2.__contains__("orange")

True

In [29]:
list_2 =["apple","orange","cherry","papaya","grape","kiwi","banana"]
list_2.index("kiwi")

5

#### Q5:create a list of 5 elements and print the middle element which is in the list

In [30]:
list_3 =["apple","orange","cherry","papaya","grape"]
print(list_3[2])

cherry

#### Q6:A list containing 10 elements slice it from index 3 to 4

In [32]:
list_4 =["apple","orange","cherry","papaya","grape","kiwi","banana","tata","honda","tesla"]
print(len(list_4))
print(list_4[3:4])

10
['papaya']

#### Q7:Declare a list and add a new element into the list using the append function

In [36]:
list_5= ["mahindra","BMW","audi","tata"]
list_5.append("suzuki")
print(list_5)

['mahindra', 'BMW', 'audi', 'tata', 'suzuki']

#### Q8:Declear a list store multiple elements and access the elements using negative indexing

In [38]:
list_6 =['mahindra', 'BMW', 'audi', 'tata', 'suzuki']
list_6[-2]

'tata'

# Tuple

#### Q1: how tuples are different from the list [theory type question]

##### Ans:the major differnce between tuple and list is 
##### 1.In case of list ,they are mutable(we can manipulate the value of list )
##### 2. In case of tupple, they are immutable (we cannot manupulate the value of tupple )

#### Q2: Write a Python program to create a tuple.

In [40]:
tup_1=("tata","mahindra","hyndai","suzuki","toyota")
print(type(tup_1))

<class 'tuple'>

#### Q3:Write a Python program to create a tuple with different data types

In [43]:
tup_2=(12,34.5,8j,True,"football")

#### Q4:Write a Python program to create a tuple with numbers and print one item

In [45]:
tup_3=(12,23,45,56,67.8,78)
print(tup_3[3])

56

#### Q5:Write a Python program to add an item in a tuple

In [ ]:
tup_4=(12,34,"orange","mahindra")

print(f"Tuple before manipulation -> {tup_4} and type -> {type(tup_4)}")

tup_4 = list( tup_4 ) #converting the tuple to list

print(f"Type of tup_4 in between the process -> {type(tup_4)}")
tup_4[0] = "Tata"  

tup_4 = tuple(tup_4) #converting back the list to tuple

print(f"Tuple after manipulation -> {tup_4} and type -> {type(tup_4)}")

#### Q6:Write a Python program to get the 4th element and 4th element from the last of a tuple

In [52]:
tuple_5=(12,34,45.6,"orange","kiwi","apple","mahindra","tata","suzuki",67j) 
a=tuple_5[4]
print(f"4th element from start is: {a}")
b=(tuple_5[-4])
print(f"4th element from last is: {b}")

4th element from start is: kiwi
4th element from last is: mahindra

#### Q7:Write a Python program to check whether an element exists within a tuple.

In [56]:
tuple_6=(12,34,45.6,"orange","kiwi","apple","mahindra","tata","suzuki")
print(tuple_6.__contains__("kiwi"))

True

#### Q8:Write a Python program to remove an item from a tuple

In [ ]:
tuple_7=(12,34,45.6,"orange","kiwi","apple","mahindra","tata","suzuki")
print(f"before removing tuple item is : {tuple_7}")
tuple_7=list(tuple_7)
tuple_7.remove("kiwi")                 #we removed kiwi by converting tuple to list 
tuple_7=tuple(tuple_7)
print("---------------------------------------------------------------------------------------")
print(f"after removing item tuple is :{tuple_7}")

#### Q9:Write a Python program to slice a tuple

In [71]:
tuple_8=("orange","kiwi","apple","mahindra","tata","suzuki")
print(tuple_8[0::2])

('orange', 'apple', 'tata')

#### Q10:Write a Python program to find the length of a tuple

In [73]:
tuple_7=(12,34,45.6,"orange","kiwi","apple","mahindra","tata","suzuki")
len(tuple_7)

9

#### Q11:Write a Python program to print a tuple with string formatting.
Sample tuple : (100, 200, 300)

In [4]:
tuple_8 = (100, 200, 300)
print('tuple with string formatting {0}'.format(tuple_8))

tuple with string formatting (100, 200, 300)